@font-face {
    font-family: "Aero";
    src: url('polices/Aero.ttf') format('truetype');
}

@font-face {
    font-family: "Poppins";
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
}

body {
    background-color: #2d2d2d;
    padding-top: 130px;
    color: aliceblue;
    margin: 0;
    justify-content: center;
    font-family: 'Poppins', sans-serif;

}

/* Zone du header avec la partie navigation et l'image du portfolio */
header {
    position: fixed;
    width: 95%;
    background-color: #242424;
    align-items: center;
    top: 10;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: aliceblue;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 20px;

}

ul {
    margin: 0 auto;
    padding: 0;
}

nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav>ul>li>a:hover {
    background-color: #13407c;
    padding: 10px;
    border-radius: 20px;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-duration: 1s;
}

nav>ul>li>a {
    text-decoration: none;
    color: inherit;
}

li {
    display: block;
    font-size: 110%;
    padding: 10px;
}

.elt {
    position: relative;
}

/*Fin de la zone header*/

/* Classes pour le titre des catégories avec la police Aero ainsi que le scroll margin*/
.categorie {
    scroll-margin-top: 130px;
    text-align: center;
    font-size: 45;
    font-family: "Aero";
}

.idt {
    scroll-margin-top: 130px;
}

/*Fin de la zone de classes catégories*/

/*Zone d'à propos*/
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;
}


/*Partie Présentation*/
.section-profil {
    max-width: 600px;
    margin: 0;
    padding: 40px 40px 15px 40px;
    background: linear-gradient(135deg, #1e1e1e 60%, #242424 100%);
    border-left: 4px solid #13407c;
    border-radius: 15px;
    position: relative;
}

.section-profil h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}

.section-profil h1 span {
    color: #e9d0b4;
    font-weight: bold;
}

.section-profil h2 {
    color: #0464b6;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.section-profil p {
    line-height: 1.6;
    font-size: 1.1em;
}

.section-profil p span.blue {
    color: #0464b6;
}

.section-profil p span.beige {
    color: #e9d0b4;
}

.tags {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.tag {
    background: #222;
    border: 1px solid #13407c;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 0.95em;
    cursor: default;
    transition: transform 0.2s;
}

.tag:hover {
    transform: scale(1.05);
}

/*Boutons réseaux*/
.main {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    stroke: #e1306c;
}

.card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.linkedin {
    margin-top: 1.5em;
    margin-left: -0.9em;
    fill: #0077b5;
}

.card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.github {
    margin-top: -0.6em;
    margin-left: 1.2em;
}

.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 0.2s ease-in-out;
}

.cv {
    margin-top: -0.9em;
    margin-left: -1.2em;
    fill: #43ca50;
}

.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #e1306c;
}

.card1:hover .instagram {
    fill: #e1306c;
    stroke: white;
}

.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #0077b5;
}

.card2:hover .linkedin {
    fill: white;
}

.card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: black;
}

.card3:hover .github {
    fill: white;
}

.card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #43ca50;
}

.card4:hover .cv {
    fill: white;
}

/*Fin Boutons Réseaux*/
/*Fin Partie Présentation*/


/*Photo de Profil*/
/* Conteneur de la photo de profil */
.profile-wrapper {
    width: 400px;
    height: 400px;
    position: relative;
}

/* Arrière-plan de la photo */
.profile-bg {
    width: 100%;
    height: 100%;
    background-color: #13407c;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}


.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #e9d0b4;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    animation: float 6s ease-in-out infinite;
    transition: transform 0.3s ease;
}

/* Animation au survol */
.profile-pic:hover {
    animation-play-state: paused;
    transform: scale(1.05) rotate(3deg);
}

/* Animation au clic */
.profile-pic:active {
    transform: scale(0.95);
}

/* Animation de flottement */
@keyframes float {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-15px) rotate(2deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

/* Animation de l'effet de brillance */
.profile-pic::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(to bottom right,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.1) 50%,
            rgba(255, 255, 255, 0) 100%);
    transform: rotate(30deg);
    animation: shine 4s infinite;
}

/* Animation de brillance */
@keyframes shine {
    0% {
        transform: translateX(-100%) rotate(30deg);
    }

    20%,
    100% {
        transform: translateX(100%) rotate(30deg);
    }
}

/*Fin Photo de Profil*/

/*Fin de la zone à propos*/

/* Zone des compétences*/
.skills-section {
    margin-bottom: 50px;
}

.category-title {
    font-weight: bold;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    font-size: 1.3em;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill-card {
    background-color: #242424;
    padding: 20px;
    width: 140px;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*Bordure des cards selon la zone*/
.border-blue {
    border: 1px solid #13407c;
}

.border-beige {
    border: 1px solid #e9d0b4;
}

/*Animation pour soulever la carte et enlever la bordure*/
.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-color: transparent;
}

/*Cercle avec les icônes de chaque compétence*/
.circle {
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.circle.blue {
    background-color: #13407c;
    color: white;
}

.circle.beige {
    background-color: #e9d0b4;
    color: #333;
}

.skill-card p {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

/*Fin de la Zone de Compétences*/


/*Zone Projets*/
.card {
    width: 100%;
    height: 100%;
    min-width: 130px;
    min-height: 195px;
    max-width: 195px;
    max-height: 320px;
    aspect-ratio: 2 / 3;
    perspective: 1000px;
    position: relative;
    border-radius: 15px;
}

input {
    display: none;
}


.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
    display: block;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}

.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #e9d0b4;
    overflow: hidden;
}

.card-back {
    text-align: center;
    background: #e9d0b4;
    padding: 5px;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
}

/* Effet de flip au clic */
input:checked~.card-inner {
    transform: rotateY(180deg);
}

.cardtitle {
    font-size: clamp(1.1rem, 1.5vw + 0.5rem, 1.1rem);
    font-weight: bold;
}

.cardsubtitle {
    font-size: clamp(0.85rem, 1vw + 0.3rem, 0.85rem);
    font-weight: bold;
}

.cardtxt {
    font-size: clamp(0.65rem, 0.5vw + 0.3rem, 0.65rem);
    line-height: 1.4;
}

.card-front img {
    width: 100%;
    height: 110%;
    object-fit: cover;
    display: block;
}

.espacement {
    padding: 10px;
}

.projet {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 3 colonnes égales */
    grid-template-rows: repeat(3, 1fr);
    /* 3 lignes égales */
    position: relative;
    width: 100%;
    place-items: center;
}


.planet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    max-width: 600px;
    z-index: 0;
    pointer-events: none;
}



/* From uiverse.io by @Ali-Tahmazi99 */
/*Boutons "Voir plus"*/
.read {
    display: inline-block;
    max-width: 150px;
    max-height: 50px;
    border-radius: 10px;
    border: 1px solid #3d70d6;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    width: 100%;
    height: auto;
    padding: 0.7em 1.2em;
    font-size: 1rem;
}

.read::before,
.read::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
}

.read::before {
    left: -10px;
    background: #112e4f;
}

.read::after {
    right: -10px;
    background: #142da9;
}

.read:hover::before,
.read:hover::after {
    width: 58%;
}

.read:hover span {
    color: white;
    transition: 0.3s;
}

.read span {
    color: #13407c;
    font-size: 18px;
    transition: all 0.3s ease-in;
}

.card .read {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    cursor: pointer;
}

/*Fin des boutons*/

/*Gestion de la grille des projets*/
.top-left {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    z-index: 1;
}

.top-middle {
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
    z-index: 1;
}

.top-right {
    grid-column: 2;
    grid-row: 3;
    justify-self: end;
    z-index: 1;
}

.bottom-left {
    grid-column: 4;
    grid-row: 1;
    justify-self: start;
    z-index: 1;
}

.bottom-middle {
    grid-column: 5;
    grid-row: 2;
    justify-self: start;
    z-index: 1;
}

.bottom-right {
    grid-column: 4;
    grid-row: 3;
    justify-self: start;
    z-index: 1;
}

/*Fin de la gestion de la grille*/

/*Fin de la zone Projets*/

/*Zone footer*/

footer {
    background-color: #242424;
    overflow: visible;
    height: auto;
    display: block;
    padding-top: 30px;
    margin-top: 30px;
}

/*Zone formulaire de contact*/
.contact-form {
    display: flex;
    background-color: #1e1e1e;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    max-width: 1000px;
    margin: 30px auto;
}

.contact-left {
    background: #0464b6;
    flex: 1;
    padding: 30px;
}

.contact-left h2 {
    margin-bottom: 20px;
}

.contact-left p {
    margin: 15px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
    color: white;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 50%;
}

.contact-right {
    flex: 2;
    padding: 30px;
}

.contact-right h2 {
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 15px;
    min-height: 100px;
}

.info-form {
    display: block;
    border: 2px solid #0464b6;
    background: transparent;
    color: black;
    min-height: 40px;
    width: 100%;
}

input,
textarea {
    width: 100%;
    padding: 10px;

    border-radius: 5px;
    border: 1px solid #0464b6;
    background: #1e1e1e;
    color: white;
}

textarea {
    resize: none;
    margin-bottom: 15px;
}

.submit {
    padding: 12px 20px;
    background: linear-gradient(to right, #007bff, #d4a373);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

/*Fin de la Zone Formulaire*/
/*Zone en dessous du formulaire*/
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 20px;
    font-weight: bold;
}

.span-blue {
    color: #0464b6;
    font-size: 1.8em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.span-beige {
    color: #e9d0b4;
    font-size: 1.8em;
    font-weight: bolder;
}

.footer-text {
    margin: 8px 0;
    font-size: 1em;
}

.footer-nav {
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer-nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.15em;
}

.footer-nav a:hover {
    color: #e9d0b4;
}

/*Fin de Zone en dessous*/
/*Fin de footer*/
/*Fin du Portfolio*/